Infographic Creator.json
{
  "name": "Infographic Creator",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/pintostudio~youtube-transcript-scraper/run-sync-get-dataset-items?token=apify_api_1O8uFHy1xTSXMDa2BUuSwRYmbm5o1A1TigYh",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token ",
              "value": "insert_your_apify_apikey"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "videoUrl",
              "value": "={{ $json.VideoLink }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -80
      ],
      "id": "94600744-fff6-4ca0-9a5a-c3abbd2afaf8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dnlqpoq99/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "youtube_summary_infographic"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -96
      ],
      "id": "5e57b0b2-f738-4e51-9076-cb1f8fe81bfb",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "={{ $json.secure_url }}",
        "limitWaitTime": true,
        "resumeAmount": 3,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        624,
        16
      ],
      "id": "40a57518-c31a-4175-b4d4-06c605ef4b96",
      "name": "Form",
      "webhookId": "30dafb11-3a85-4f33-82f7-3a940fb34db3"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-image-preview (Nano Banana 2)"
        },
        "prompt": "=Youtube Video Transcript : {{ $json.data.map(x=> x.text).join(' ') }}\nTask: Analyze the video content to extract the core thesis, 4-6 distinct mental models/arguments and the conclusion. Then, generate a high-fidelity \"Sketchnote Whiteboard Infographic\" summarizing these points. \nVisual Style Parameter (Nano Banana Pro):\nAesthetic: Hand-drawn marker on whiteboard, \"Sketchnote\" style, professional architectural sketching.\nLayout: Bento-box grid (boxed sections), but\nwith hand-drawn borders. High Information density but organized. \nTypography: Legible, hand-written style font(like marker pen). CRITICAL: Text must be perfectly legible and accurate.\nElements: Use arrows, connectors, and simple illustrative icons (brains, rockets, charts, jagged graphs) to visualize concepts.\nColor Palette: Whiteboard background (clean white/off white). Black text for main content.Accents in highlighter colors: Cobalt Blue, Emerald Green, Sunset Orange, and Deep Purple to distinguish sections.\n\nContent Structure (Render this exactly):\nHeader: Large, double-underlined Title of the video/topic at the top. Below it, a specific \"Key Themes:\" lines. \n\nPanels: Break the remaining space into 4-6 clearly defined rectangular boxes. Each box must have:\n\nA colored rectangular header with the section topic.\n\nA simple visual diagram (e.g., a jagged graph, a comparison table, a cycle ).\n\n3-4 bullet points of summary text.\n\nBottom Right: A \"Future/Conclusion\" bubble or box.\n\nOutput: A 16:9 high-resolution infographic image.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        208,
        32
      ],
      "id": "7c2ad57c-06be-45de-ab57-09b2a41471a3",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Infographic Creator ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What's the youtube video link?",
              "fieldName": "VideoLink",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -288,
        0
      ],
      "id": "76dfe530-f77d-4063-9f39-a51a173736d4",
      "name": "On form submission",
      "webhookId": "91f6c849-b888-4f3d-a43f-3e4ece85baa9"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ffd544bf-4112-42c2-8fa2-a542029ee6b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1398c824d23fa7060babd666b92cf4b5f47a6d14110ec271eb11c84209b5ef5f"
  },
  "id": "dxrRAPmku1sDDBIQ",
  "tags": []
}